| $('#dataset-overlay .content').html("
- if @commit.valid?
  = j render("commits/form", dataset: @dataset, commit: Commit.new)
- else
  = j render("dataset_edits/form", dataset: @dataset, commit: @commit)
| ");
| DatasetInterface.enable("#{ @dataset.geo_id }");
