key: buildings_building_stock
groups:
  - header:
    items:
    - key: number_of_buildings
      unit: 'EDU'
    - key: buildings_roof_surface_available_for_pv
      unit: "km<sup>2</sup>"

  - header: buildings_insulation
    type: slider
    combination_method:
      weighted_average:
        - number_of_buildings
    items:
    - key: input_buildings_insulation_level
      unit: 'kWh/m<sup>2</sup>'
