key: buildings_building_stock
groups:
  - header:
    items:
    - key: present_number_of_buildings
      unit: '#'
    - key: buildings_roof_surface_available_for_pv
      unit: "km<sup>2</sup>"

  - header: typical_useful_demand_buildings
    items:
      - key: typical_useful_demand_for_space_heating_buildings_present
        unit: 'kWh/m<sup>2</sup>'
        combination_method:
          weighted_average:
            - present_number_of_buildings
      - key: typical_useful_demand_for_space_heating_buildings_future
        unit: 'kWh/m<sup>2</sup>'
        combination_method:
          weighted_average:
            - present_number_of_buildings
