key: industry_paper

groups:
  - header: industry_paper
    items:
      - key: input_industry_paper_electricity_demand
        unit: 'TJ'
      - key: input_industry_paper_network_gas_demand
        unit: 'TJ'
      - key: input_industry_paper_steam_hot_water_demand
        unit: 'TJ'
      - key: input_industry_paper_wood_pellets_demand
        unit: 'TJ'
      - key: input_industry_paper_crude_oil_demand
        unit: 'TJ'
      - key: input_industry_paper_coal_demand
        unit: 'TJ'

  - header: industry_paper_electricity
    type: slider
    items:
      - key: industry_final_demand_for_other_paper_electricity_industry_useful_demand_for_other_paper_electricity_parent_share
        unit: '%'
      - key: industry_final_demand_for_other_paper_electricity_industry_other_paper_heater_electricity_parent_share
        unit: '%'
        flexible: true
        skip_validation: true