key: industry_steel

groups:
  - header: industry_metal_steel_production
    items:
      - key: input_industry_metal_steel_production
        unit: 'Mton'

  - header: industry_metal_steel_production_route
    type: slider
    items:
      - key: input_industry_steel_blastfurnace_bof_share
        unit: '%'
      - key: input_industry_steel_scrap_hbi_eaf_share
        unit: '%'
        flexible: true

  - header: industry_metal_steel_final_demand
    items:
      - key: input_industry_metal_steel_coal_demand
        unit: 'TJ'
        entsoe: |
          EB = ("Final consumption - industry sector - iron and steel - energy use", "Coal") -
          EB = ("Final consumption - industry sector - iron and steel - energy use", "Coke oven coke")
      - key: input_industry_metal_steel_cokes_demand
        unit: 'TJ'
        entsoe: |
          EB = ("Final consumption - industry sector - iron and steel - energy use", "Coke oven coke")
      - key: input_industry_metal_steel_coal_gas_demand
        unit: 'TJ'
        entsoe: |
          EB = ("Final consumption - industry sector - iron and steel - energy use", "Coal gas")
      - key: input_industry_metal_steel_electricity_demand
        unit: 'TJ'
        entsoe: |
          EB = ("Final consumption - industry sector - iron and steel - energy use", "Electricity")
      - key: input_industry_metal_steel_network_gas_demand
        unit: 'TJ'
        entsoe: |
          EB = ("Final consumption - industry sector - iron and steel - energy use", "Network gas")
      - key: input_industry_metal_steel_steam_hot_water_demand
        unit: 'TJ'
        entsoe: |
          EB = ("Final consumption - industry sector - iron and steel - energy use", "Heat")
      - key: input_industry_metal_steel_crude_oil_demand
        unit: 'TJ'
        entsoe: |
          EB = ("Final consumption - industry sector - iron and steel - energy use", "Crude oil aggregated")
      - key: input_industry_metal_steel_wood_pellets_demand
        unit: 'TJ'
        entsoe: |
          EB = ("Final consumption - industry sector - iron and steel - energy use", "Primary solid biofuels")

  - header: energy_cokesoven_transformation_input
    items:
      - key: input_energy_cokesoven_transformation_coal_input_demand
        unit: 'TJ'
        entsoe: |
          EB = ("Transformation input - coke ovens - energy use", "Coal")

  - header: energy_cokesoven_transformation_output
    type: slider
    items:
      - key: input_energy_cokesoven_transformation_cokes_output_conversion
        unit: '%'
      - key: input_energy_cokesoven_transformation_coal_gas_output_conversion
        unit: '%'
      - key: input_energy_cokesoven_transformation_loss_output_conversion
        unit: '%'
        flexible: true
        skip_validation: true

  - header: energy_cokesoven_own_use
    items:
      - key: input_energy_cokesoven_own_use_coal
        unit: 'TJ'
        entsoe: |
          EB = ("Energy sector - coke ovens - energy use", "Coal")
      - key: input_energy_cokesoven_own_use_cokes
        unit: 'TJ'
        entsoe: |
          EB = ("Energy sector - coke ovens - energy use", "Coke oven coke")
      - key: input_energy_cokesoven_own_use_coal_gas
        unit: 'TJ'
        entsoe: |
          EB = ("Energy sector - coke ovens - energy use", "Coal gas")
      - key: input_energy_cokesoven_own_use_electricity
        unit: 'TJ'
        entsoe: |
          EB = ("Energy sector - coke ovens - energy use", "Electricity")
      - key: input_energy_cokesoven_own_use_network_gas
        unit: 'TJ'
        entsoe: |
          EB = ("Energy sector - coke ovens - energy use", "Network gas")
      - key: input_energy_cokesoven_own_use_steam_hot_water
        unit: 'TJ'
        entsoe: |
          EB = ("Energy sector - coke ovens - energy use", "Heat")
      - key: input_energy_cokesoven_own_use_crude_oil
        unit: 'TJ'
        entsoe: |
          EB = ("Energy sector - coke ovens - energy use", "Crude oil aggregated")

  - header: energy_blastfurnace_transformation_input
    items:
      - key: input_energy_blastfurnace_transformation_coal_input_demand
        unit: 'TJ'
        entsoe: |
          EB = ("Transformation input - blast furnaces - energy use", "Coal")
      - key: input_energy_blastfurnace_transformation_cokes_input_demand
        unit: 'TJ'
        entsoe: |
          EB = ("Transformation input - blast furnaces - energy use", "Coke oven coke")

  - header: energy_blastfurnace_transformation_output
    type: slider
    items:
      - key: input_energy_blastfurnace_transformation_coal_gas_output_conversion
        unit: '%'
      - key: input_energy_blastfurnace_transformation_loss_output_conversion
        unit: '%'
        flexible: true
        skip_validation: true

  - header: energy_blastfurnace_own_use
    items:
      - key: input_energy_blastfurnace_own_use_coal
        unit: 'TJ'
        entsoe: |
          EB = ("Energy sector - blast furnaces - energy use", "Coal")
      - key: input_energy_blastfurnace_own_use_cokes
        unit: 'TJ'
        entsoe: |
          EB = ("Energy sector - blast furnaces - energy use", "Coke oven coke")
      - key: input_energy_blastfurnace_own_use_coal_gas
        unit: 'TJ'
        entsoe: |
          EB = ("Energy sector - blast furnaces - energy use", "Coal gas")
      - key: input_energy_blastfurnace_own_use_electricity
        unit: 'TJ'
        entsoe: |
          EB = ("Energy sector - blast furnaces - energy use", "Electricity")
      - key: input_energy_blastfurnace_own_use_network_gas
        unit: 'TJ'
        entsoe: |
          EB = ("Energy sector - blast furnaces - energy use", "Network gas")
      - key: input_energy_blastfurnace_own_use_steam_hot_water
        unit: 'TJ'
        entsoe: |
          EB = ("Energy sector - blast furnaces - energy use", "Heat")
      - key: input_energy_blastfurnace_own_use_crude_oil
        unit: 'TJ'
        entsoe: |
          EB = ("Energy sector - blast furnaces - energy use", "Crude oil aggregated")

  - header: industry_metal_steel_energy_production_input
    items:
      - key: input_energy_power_combined_cycle_coal_gas_coal_gas_input_demand
        unit: 'TJ'
        entsoe: |
          EB = ("Gross electricity production - main activity producer electricity only", "Coal gas")
      - key: input_energy_chp_coal_gas_coal_gas_input_demand
        unit: 'TJ'
        entsoe: |
          EB = ("Gross electricity production - autoproducer combined heat and power", "Coal gas")

  - header: energy_power_combined_cycle_coal_gas_conversion
    type: slider
    items:
      - key: input_energy_power_combined_cycle_coal_gas_electricity_output_conversion
        unit: '%'
      - key: input_energy_power_combined_cycle_coal_gas_loss_output_conversion
        unit: '%'
        flexible: true
        skip_validation: true

  - header: energy_chp_coal_gas_conversion
    type: slider
    items:
      - key: input_energy_chp_coal_gas_electricity_output_conversion
        unit: '%'
      - key: input_energy_chp_coal_gas_steam_hot_water_output_conversion
        unit: '%'
      - key: input_energy_chp_coal_gas_loss_output_conversion
        unit: '%'
        flexible: true
        skip_validation: true

  - header: industry_metal_steel_coal_use
    type: slider
    items:
      - key: industry_final_demand_for_metal_steel_coal_industry_steel_blastfurnace_bof_parent_share
        unit: '%'
      - key: industry_final_demand_for_metal_steel_coal_industry_steel_scrap_hbi_eaf_parent_share
        unit: '%'
        flexible: true

  - header: industry_metal_steel_electricity_use
    type: slider
    items:
      - key: industry_final_demand_for_metal_steel_electricity_industry_steel_blastfurnace_bof_parent_share
        unit: '%'
      - key: industry_final_demand_for_metal_steel_electricity_industry_steel_scrap_hbi_eaf_parent_share
        unit: '%'
        flexible: true

  - header: industry_metal_steel_network_gas_use
    type: slider
    items:
      - key: industry_final_demand_for_metal_steel_network_gas_industry_steel_blastfurnace_bof_parent_share
        unit: '%'
      - key: industry_final_demand_for_metal_steel_network_gas_industry_steel_scrap_hbi_eaf_parent_share
        unit: '%'
        flexible: true
