key: industry_heat_chp

groups:
  - header: industry_heat
    items:
      - key: industry_chp_combined_cycle_gas_power_fuelmix_demand
        unit: 'TJ'
      - key: industry_chp_engine_gas_power_fuelmix_demand
        unit: 'TJ'
      - key: industry_chp_turbine_gas_power_fuelmix_demand
        unit: 'TJ'
      - key: industry_chp_ultra_supercritical_coal_demand
        unit: 'TJ'
      - key: industry_chp_wood_pellets_demand
        unit: 'TJ'
      - key: industry_heat_burner_lignite_demand
        unit: 'TJ'
      - key: industry_heat_burner_coal_demand
        unit: 'TJ'
      - key: industry_heat_well_geothermal_demand
        unit: 'TJ'
      - key: industry_heat_burner_crude_oil_demand
        unit: 'TJ'

  - header: industry_gas_fuelmix
    type: slider
    items:
      - key: input_share_mixer_gas_fuel_bio_oil
        unit: '%'
      - key: input_share_mixer_gas_fuel_oil
        unit: '%'
      - key: input_share_mixer_gas_fuel_network_gas
        unit: '%'
        flexible: true

  - header: industry_final_demand_crude_oil_input
    type: slider
    items:
    - key: input_percentage_of_diesel_industry_final_demand_crude_oil
      unit: '%'
      entso: |
        EB("Final consumption - industry sector - energy use", "Gas oil and diesel oil (excluding biofuel portion)") / (
        EB("Final consumption - industry sector - energy use", "Crude oil aggregated") +
        EB("Final consumption - industry sector - energy use", "Bio-diesel") +
        EB("Final consumption - industry sector - energy use", "Bio-kerosene") +
        EB("Final consumption - industry sector - energy use", "Bio oil") )
    - key: input_percentage_of_biodiesel_industry_final_demand_crude_oil
      unit: '%'
      entso: |
        EB("Final consumption - industry sector - energy use", "Bio-diesel") / (
        EB("Final consumption - industry sector - energy use", "Crude oil aggregated") +
        EB("Final consumption - industry sector - energy use", "Bio-diesel") +
        EB("Final consumption - industry sector - energy use", "Bio-kerosene") +
        EB("Final consumption - industry sector - energy use", "Bio oil") )
    - key: input_percentage_of_kerosene_industry_final_demand_crude_oil
      unit: '%'
      entso: |
        EB("Final consumption - industry sector - energy use", "Kerosene") / (
        EB("Final consumption - industry sector - energy use", "Crude oil aggregated") +
        EB("Final consumption - industry sector - energy use", "Bio-diesel") +
        EB("Final consumption - industry sector - energy use", "Bio-kerosene") +
        EB("Final consumption - industry sector - energy use", "Bio oil") )
    - key: input_percentage_of_bio_kerosene_industry_final_demand_crude_oil
      unit: '%'
      entso: |
        EB("Final consumption - industry sector - energy use", "Bio-kerosene") / (
        EB("Final consumption - industry sector - energy use", "Crude oil aggregated") +
        EB("Final consumption - industry sector - energy use", "Bio-diesel") +
        EB("Final consumption - industry sector - energy use", "Bio-kerosene") +
        EB("Final consumption - industry sector - energy use", "Bio oil") )
    - key: input_percentage_of_lpg_industry_final_demand_crude_oil
      unit: '%'
      entso: |
        EB("Final consumption - industry sector - energy use", "Liquefied petroleum gases") / (
        EB("Final consumption - industry sector - energy use", "Crude oil aggregated") +
        EB("Final consumption - industry sector - energy use", "Bio-diesel") +
        EB("Final consumption - industry sector - energy use", "Bio-kerosene") +
        EB("Final consumption - industry sector - energy use", "Bio oil") )
    - key: input_percentage_of_bio_oil_industry_final_demand_crude_oil
      unit: '%'
      entso: |
        EB("Final consumption - industry sector - energy use", "Bio oil") / (
        EB("Final consumption - industry sector - energy use", "Crude oil aggregated") +
        EB("Final consumption - industry sector - energy use", "Bio-diesel") +
        EB("Final consumption - industry sector - energy use", "Bio-kerosene") +
        EB("Final consumption - industry sector - energy use", "Bio oil") )
    - key: input_percentage_of_other_oil_industry_final_demand_crude_oil
      unit: '%'
      # entso: |
      #   EB("Final consumption - industry sector - energy use", "Other oil") / (
      #   EB("Final consumption - industry sector - energy use", "Crude oil aggregated") +
      #   EB("Final consumption - industry sector - energy use", "Bio-diesel") +
      #   EB("Final consumption - industry sector - energy use", "Bio-kerosene") +
      #   EB("Final consumption - industry sector - energy use", "Bio oil") )
      flexible: true
      skip_validation: true
