key: industry_aluminium

groups:
  - header: industry_aluminium_demand
    items:
    - key: input_industry_metal_aluminium_electricity_demand
      unit: 'TJ'
      entsoe: |
        EB = ("Final consumption - industry sector - metal aluminium - energy use", "Electricity")
    - key: input_industry_metal_aluminium_network_gas_demand
      unit: 'TJ'
      entsoe: |
        EB = ("Final consumption - industry sector - metal aluminium - energy use", "Network gas")


  - header: industry_aluminium_technology
    type: slider
    items:
    - key: industry_aluminium_electrolysis_current_electricity_parent_share
      unit: '%'
    - key: industry_aluminium_electrolysis_bat_electricity_parent_share
      unit: '%'
    - key: industry_aluminium_smeltoven_electricity_parent_share
      unit: '%'
    - key: industry_aluminium_carbothermalreduction_electricity_ parent_share
      unit: '%'
