key: industry_food

groups:
  - header: industry_food
    items:
      - key: input_industry_food_electricity_demand
        unit: 'TJ'
        entso: |
          EB("Final consumption - industry sector - food, beverages and tobacco - energy use", "Electricity")
      - key: input_industry_food_network_gas_demand
        unit: 'TJ'
        entso: |
          EB("Final consumption - industry sector - food, beverages and tobacco - energy use", "Network gas")
      - key: input_industry_food_steam_hot_water_demand
        unit: 'TJ'
        entso: |
          EB("Final consumption - industry sector - food, beverages and tobacco - energy use", "Heat")
      - key: input_industry_food_wood_pellets_demand
        unit: 'TJ'
        entso: |
          EB("Final consumption - industry sector - food, beverages and tobacco - energy use", "Primary solid biofuels")
      - key: input_industry_food_crude_oil_demand
        unit: 'TJ'
        entso: |
          EB("Final consumption - industry sector - food, beverages and tobacco - energy use", "Crude oil aggregated") +
          EB("Final consumption - industry sector - food, beverages and tobacco - energy use", "Bio-diesel") +
          EB("Final consumption - industry sector - food, beverages and tobacco - energy use", "Bio-kerosene") +
          EB("Final consumption - industry sector - food, beverages and tobacco - energy use", "Bio oil")
      - key: input_industry_food_coal_demand
        unit: 'TJ'
        entso: |
          EB("Final consumption - industry sector - food, beverages and tobacco - energy use", "Coal") -
          EB("Final consumption - industry sector - food, beverages and tobacco - energy use", "Coke oven coke")

  - header: industry_food_electricity
    type: slider
    items:
      - key: industry_final_demand_for_other_food_electricity_industry_useful_demand_for_other_food_electricity_parent_share
        unit: '%'
      - key: industry_final_demand_for_other_food_electricity_industry_other_food_heater_electricity_parent_share
        unit: '%'
        flexible: true
        skip_validation: true
