key: industry_aluminium

groups:
  - header: industry_metal_aluminium_production
    items:
      - key: input_industry_metal_aluminium_production
        unit: 'Mton'

  - header: industry_metal_aluminium_production_route
    type: slider
    items:
      - key: input_industry_aluminium_electrolysis_current_electricity_share
        unit: '%'
      - key: input_industry_aluminium_smeltoven_electricity_share
        unit: '%'
        flexible: true

  - header: industry_aluminium_demand
    items:
    - key: input_industry_metal_aluminium_electricity_demand
      unit: 'TJ'
#      entso: |
#        EB("Final consumption - industry sector - metal aluminium - energy use", "Electricity")
    - key: input_industry_metal_aluminium_network_gas_demand
      unit: 'TJ'
#      entso: |
#        EB("Final consumption - industry sector - metal aluminium - energy use", "Network gas")

  - header: industry_metal_aluminium_electricity_use
    type: slider
    items:
      - key: industry_final_demand_for_metal_aluminium_electricity_industry_aluminium_electrolysis_current_electricity_parent_share
        unit: '%'
      - key: industry_final_demand_for_metal_aluminium_electricity_industry_aluminium_smeltoven_electricity_parent_share
        unit: '%'
        flexible: true

  - header: industry_metal_aluminium_network_gas_use
    type: slider
    items:
      - key: industry_aluminium_burner_network_gas_industry_aluminium_electrolysis_current_electricity_parent_share
        unit: '%'
      - key: industry_aluminium_burner_network_gas_industry_aluminium_smeltoven_electricity_parent_share
        unit: '%'
        flexible: true
