key: households_energy_demand
groups:
  - header: households_final_demand
    items:
    - key: households_final_demand_electricity_demand
      unit: 'TJ'
    - key: households_final_demand_network_gas_demand
      unit: 'TJ'
    - key: households_final_demand_steam_hot_water_demand
      unit: 'TJ'
    - key: households_final_demand_wood_pellets_demand
      unit: 'TJ'
    - key: households_final_demand_coal_demand
      unit: 'TJ'
    - key: input_households_final_demand_crude_oil_demand
      unit: 'TJ'
  - header: households_final_demand_crude_oil_input
    type: slider
    items:
    - key: input_percentage_of_diesel_households_final_demand_crude_oil
      unit: '%'
    - key: input_percentage_of_biodiesel_households_final_demand_crude_oil
      unit: '%'
    - key: input_percentage_of_kerosene_households_final_demand_crude_oil
      unit: '%'
    - key: input_percentage_of_bio_kerosene_households_final_demand_crude_oil
      unit: '%'
    - key: input_percentage_of_lpg_households_final_demand_crude_oil
      unit: '%'
    - key: input_percentage_of_bio_oil_households_final_demand_crude_oil
      unit: '%'
    - key: input_percentage_of_crude_oil_households_final_demand_crude_oil
      unit: '%'
      flexible: true
      skip_validation: true
