key: transport_rail_transport
groups:
    - header: transport_rail_fuels
      items:
        - key: input_transport_rail_electricity_demand
          unit: 'TJ'
          entsoe: |
            EB = ("Final consumption - transport sector - rail - energy use", "Electricity")
        - key: input_transport_rail_diesel_demand
          unit: 'TJ'
          entsoe: |
            EB = ("Final consumption - transport sector - rail - energy use", "Gas oil and diesel oil (excluding biofuel portion)")
        - key: input_transport_rail_biodiesel_demand
          unit: 'TJ'
          entsoe: |
            EB = ("Final consumption - transport sector - rail - energy use", "Bio-diesel")
        - key: transport_final_demand_coal_demand
          unit: 'TJ'
          entsoe: |
            EB = ("Final consumption - transport sector - energy use", "Coal") +
            EB = ("Final consumption - transport sector - energy use", "Coal gas") +
            EB = ("Final consumption - transport sector - energy use", "Gas works gas") -
            EB = ("Final consumption - transport sector - pipeline transport - energy use", "Coal") -
            EB = ("Final consumption - transport sector - pipeline transport - energy use", "Coal gas") -
            EB = ("Final consumption - transport sector - pipeline transport - energy use", "Gas works gas") -
            EB = ("Final consumption - transport sector - not elsewhere specified - energy use", "Coal") -
            EB = ("Final consumption - transport sector - not elsewhere specified - energy use", "Coal gas") -
            EB = ("Final consumption - transport sector - not elsewhere specified - energy use", "Gas works gas")

    - header: transport_rail_electricity_distribution
      type: slider
      items:
        - key: transport_final_demand_for_rail_electricity_transport_freight_train_using_electricity_parent_share
          unit: '%'
        - key: transport_final_demand_for_rail_electricity_transport_tram_using_electricity_parent_share
          unit: '%'
        - key: transport_final_demand_for_rail_electricity_transport_passenger_train_using_electricity_parent_share
          unit: '%'
          flexible: true
          skip_validation: true

    - header: transport_rail_diesel_distribution
      type: slider
      items:
        - key: transport_rail_mixer_diesel_transport_freight_train_using_diesel_mix_parent_share
          unit: '%'
        - key: transport_rail_mixer_diesel_transport_passenger_train_using_diesel_mix_parent_share
          unit: '%'
          flexible: true
          skip_validation: true
