key: transport_road_transport
groups:
    - header:
      items:
      - key: number_of_cars
        unit: '#'
      - key: input_transport_road_human_powered_bicycle_demand
        unit: 'km'
        entso: 0.0

    - header: transport_road_fuels
      items:
        - key: input_transport_road_gasoline_demand
          unit: 'TJ'
          entso: |
            EB("Final consumption - transport sector - road - energy use", "Gasoline")
        - key: input_transport_road_diesel_demand
          unit: 'TJ'
          entso: |
            EB("Final consumption - transport sector - road - energy use", "Gas oil and diesel oil (excluding biofuel portion)")
        - key: transport_final_demand_lpg_demand
          unit: 'TJ'
          entso: |
            EB("Final consumption - transport sector - energy use", "Liquefied petroleum gases") -
            EB("Final consumption - transport sector - pipeline transport - energy use", "Liquefied petroleum gases") -
            EB("Final consumption - transport sector - not elsewhere specified - energy use", "Liquefied petroleum gases")
        - key: input_transport_road_electricity_demand
          unit: 'TJ'
          entso: |
            EB("Final consumption - transport sector - road - energy use", "Electricity")
        - key: input_transport_road_bio_ethanol_demand
          unit: 'TJ'
          entso: |
            EB("Final consumption - transport sector - road - energy use", "Biogasoline")
        - key: input_transport_road_biodiesel_demand
          unit: 'TJ'
          entso: |
            EB("Final consumption - transport sector - road - energy use", "Bio-diesel") +
            EB("Final consumption - transport sector - road - energy use", "Other liquid biofuels")
        - key: transport_final_demand_for_road_compressed_network_gas_demand
          unit: 'TJ'
          entso: |
            EB("Final consumption - transport sector - road - energy use", "Natural gas") + 
            EB("Final consumption - transport sector - road - energy use", "Biogases")
        - key: transport_final_demand_hydrogen_demand
          unit: 'TJ'
          entso: 0.0
        - key: transport_final_demand_for_road_lng_demand
          unit: 'TJ'
          entso: 0.0
#          entso: |
#            EB("Final consumption - transport sector - road - energy use", "LNG")
        - key: transport_final_demand_for_road_bio_lng_demand
          unit: 'TJ'
          entso: 0.0
#          entso: |
#            EB("Final consumption - transport sector - road - energy use", "Bio-LNG")

    - header: transport_road_gasoline_distribution
      type: slider
      items:
        - key: transport_road_mixer_gasoline_transport_car_using_gasoline_mix_parent_share
          unit: '%'
        - key: transport_road_mixer_gasoline_transport_bus_using_gasoline_mix_parent_share
          unit: '%'
        - key: transport_road_mixer_gasoline_transport_truck_using_gasoline_mix_parent_share
          unit: '%'
        - key: transport_road_mixer_gasoline_transport_motorcycle_using_gasoline_mix_parent_share
          unit: '%'
          flexible: true
          skip_validation: true

    - header: transport_road_diesel_distribution
      type: slider
      items:
        - key: transport_road_mixer_diesel_transport_car_using_diesel_mix_parent_share
          unit: '%'
        - key: transport_road_mixer_diesel_transport_bus_using_diesel_mix_parent_share
          unit: '%'
        - key: transport_road_mixer_diesel_transport_truck_using_diesel_mix_parent_share
          unit: '%'
          flexible: true
          skip_validation: true

    - header: transport_road_electricity_distribution
      type: slider
      items:
        - key: transport_final_demand_for_road_electricity_transport_car_using_electricity_parent_share
          unit: '%'
        - key: transport_final_demand_for_road_electricity_transport_bus_using_electricity_parent_share
          unit: '%'
        - key: transport_final_demand_for_road_electricity_transport_motorcycle_using_electricity_parent_share
          unit: '%'
        - key: transport_final_demand_for_road_electricity_transport_bicycle_using_electricity_parent_share
          unit: '%'
        - key: transport_final_demand_for_road_electricity_transport_truck_using_electricity_parent_share
          unit: '%'
          flexible: true
          skip_validation: true

    - header: transport_road_cng_distribution
      type: slider
      items:
        - key: transport_road_mixer_compressed_network_gas_transport_bus_using_compressed_natural_gas_parent_share
          unit: '%'
        - key: transport_road_mixer_compressed_network_gas_transport_car_using_compressed_natural_gas_parent_share
          unit: '%'
        - key: transport_road_mixer_compressed_network_gas_transport_truck_using_compressed_natural_gas_parent_share
          unit: '%'
          flexible: true
          skip_validation: true

    - header: transport_road_hydrogen_distribution
      type: slider
      items:
        - key: input_transport_road_car_hydrogen_share
          unit: '%'
        - key: transport_final_demand_for_road_hydrogen_transport_bus_using_hydrogen_parent_share
          unit: '%'
        - key: transport_final_demand_for_road_hydrogen_transport_truck_using_hydrogen_parent_share
          unit: '%'
          flexible: true
          skip_validation: true

    - header: transport_road_lng_distribution
      type: slider
      items:
        - key: transport_road_mixer_lng_transport_bus_using_lng_mix_parent_share
          unit: '%'
        - key: transport_road_mixer_lng_transport_truck_using_lng_mix_parent_share
          unit: '%'
          flexible: true
          skip_validation: true
