---
mapbox_defaults: &mapbox_defaults
  type: 'mvt'
  url: "https://{a-d}.tiles.mapbox.com/v4/${layer_id}/{z}/{x}/{y}.vector.pbf?access_token=${access_token}"
  extent:
    - 368486.2686971302
    - 6568397.781293049
    - 811500.3337115699
    - 7094762.123545771

dataset_selector:
  - name: provinces
    id: "grdw.2yc5gbk0"
    source: "provinces"
    minres: 300
    maxres: 700
    filter: "NAME_1"
    name_attr: 'NAME_1'
    <<: *mapbox_defaults

  - name: municipalities
    id: "grdw.2779dku7"
    source: "gem_2015_crs_84-dm3urg"
    minres: 100
    maxres: 300
    filter: "GM_CODE"
    name_attr: 'GM_NAAM'
    <<: *mapbox_defaults

  - name: districts
    id: "grdw.51ikm70q"
    source: "wijk_2015_crs_84-4m557y"
    minres: 40
    maxres: 100
    filter: "WK_CODE"
    name_attr: 'WK_NAAM'
    <<: *mapbox_defaults

  - name: neighborhoods
    id: "grdw.bg029u41"
    source: "buurt_2015_crs_84"
    minres: 0
    maxres: 40
    filter: "BU_CODE"
    name_attr: 'BU_NAAM'
    <<: *mapbox_defaults

chart:
  - name: potential_heat_wko_neighborhood
    type: 'wms'
    id: potential_heat_wko_neighborhood
    url: "http://geodata.nationaalgeoregister.nl/omgevingswarmte/wms"
    minres: 0
    maxres: 700
    params:
      layers: "warmtegeslotenwkobuurt"
      srs: "EPSG:28992"

  - name: bag
    type: 'wfs'
    id: bag
    minres: 0
    maxres: 3
    url: 'https://geodata.nationaalgeoregister.nl/bag/wfs?service=WFS&version=1.1.0&request=GetFeature&typename=bag:pand&outputFormat=application/json&srsname=EPSG:3857&bbox=${bbox},EPSG:3857'
