---
dataset_selector:
  - name: 'provinces'
    id: "grdw.2yc5gbk0"
    source: "provinces-38l90g"
    minzoom: 5
    maxzoom: 9
    filter: "NAME_1"
    search: "NAME_1"

  - name: 'gem_2015'
    id: "grdw.2779dku7"
    source: "gem_2015_crs_84-dm3urg"
    minzoom: 9
    maxzoom: 11
    filter: "GM_CODE"
    search: "GM_NAAM"

  - name: 'wijk_2015'
    id: "grdw.51ikm70q"
    source: "wijk_2015_crs_84-4m557y"
    minzoom: 11
    maxzoom: 12
    filter: "WK_CODE"
    search: "WK_NAAM"

  - name: 'buurt_2015'
    id: "grdw.bg029u41"
    source: "buurt_2015_crs_84-45f5dp"
    minzoom: 12
    maxzoom: 24
    filter: "BU_CODE"
    search: "BU_NAAM"

chart:
  - name: 'municipality-low-res'
    id: "grdw.96nbvtnq"
    source: "gem_2015_compressed-c4yaoc"
    minzoom: 7
    maxzoom: 9
    filter: "GM_CODE"
