---
mapbox_defaults: &mapbox_defaults
  type: 'mvt'
  url: "https://{a-d}.tiles.mapbox.com/v4/${layer_id}/{z}/{x}/{y}.vector.pbf?access_token=${access_token}"
  extent:
     - 311694.574221166
     - 6577254.8479120731353760
     - 804561.4472128415945917
     - 7422845.1362154185771942

dataset_selector:
  - name: provinces
    id: "grdw.8kst3bc1"
    source: "2018_province-df2r8c"
    minres: 500
    maxres: 1000
    filter: id
    name_attr: id
    <<: *mapbox_defaults

  - name: res_regions
    id: "grdw.0xyku75d"
    source: "res_2019_cleaned-5zkeez"
    minres: 300
    maxres: 500
    filter: id
    name_attr: id
    <<: *mapbox_defaults

  - name: municipalities
    id: "grdw.6sw2xyhq"
    source: "2019_municipality-8436h7"
    minres: 40
    maxres: 300
    filter: id
    name_attr: id
    <<: *mapbox_defaults

  # - name: districts
  #   id: "grdw.b1nhrx6v"
  #   source: "2018_district-5xvsqk"
  #   minres: 40
  #   maxres: 100
  #   filter: id
  #   name_attr: id
  #   <<: *mapbox_defaults

  - name: neighbourhoods
    id: "grdw.2wvtye5a"
    source: "2018_neighbourhood-08ucih"
    minres: 0
    maxres: 40
    filter: id
    name_attr: id
    <<: *mapbox_defaults

chart:
  - name: potential_heat_wko_neighborhood
    type: 'wms'
    id: potential_heat_wko_neighborhood
    url: "http://geodata.nationaalgeoregister.nl/omgevingswarmte/wms"
    minres: 0
    maxres: 700
    params:
      layers: "warmtegeslotenwkobuurt"
      srs: "EPSG:28992"

  - name: bag
    type: 'wfs'
    id: bag
    minres: 0
    maxres: 3
    url: 'https://geodata.nationaalgeoregister.nl/bag/wfs?service=WFS&version=1.1.0&request=GetFeature&typename=bag:pand&outputFormat=application/json&srsname=EPSG:3857&bbox=${bbox},EPSG:3857'
