@import 'variables'

$map-height: 900px

.mapboxgl-ctrl-group > button
  margin: 0

.mapboxgl-popup
  .mapboxgl-popup-content
    padding: 15px
    border-radius: 0

    > .content
      text-align: left

      > a.button
        display: block

    > button
      padding: 0 10px
      line-height: 25px
      margin: 0
      height: auto

.content-map
  border-top: 1px solid $border-color
  position: relative

  #dataset-overlay
    display: none
    margin-top: -$map-height + 20px
    padding: 25px 30px
    background-color: $bg-color
    box-shadow: 0 1px 2px rgba(0,0,0,0.10)

    .button-close
      position: absolute
      top: 0
      right: 0

      a
        padding: 0 15px
        height: 38px
        line-height: 38px
        display: block
        color: black
        text-decoration: none

        &:hover
          background-color: darken($bg-color, 5)

  #map
    height: $map-height
    position: relative
    width: 100%
