// Variables
$error-color: #e77

.header
  border-bottom: 1px solid #eee
  margin: 20px 0 25px
  padding: 10px 0

  div
    display: inline-block

    &.title h1
      margin: 0

    &.current-user
      float: right
      line-height: 60px

      a
        margin-left: 10px

// General
h1 a
  color: black
  text-decoration: none

// Form styling
.button.cancel
  background-color: $error-color
  border-color: darken($error-color, 20)

form
  .error
    background-color: $error-color
    border-color: darken($error-color, 20)
    padding: 4px 10px
    margin-bottom: 10px
    border-radius: 4px

  &.dataset
    textarea#dataset_commit_message
      min-width: 400px

// Other
span.or
  margin: 0 5px

table tbody tr td a.button
  margin-bottom: 0

.tab
  margin-bottom: 20px

.attributes
  .editable
    margin: 5px 0
    &:hover
      cursor: pointer

    &.enabled
      padding: 12px 18px
      border: 1px solid #ddd
      margin-left: -18px
      box-shadow: 0px 2px 5px 0px #ccc

      .actions
        margin-top: 10px
        display: block

    strong
      width: 600px
      word-wrap: break-word
      padding-right: 20px

    span.val
      vertical-align: top

    .actions
      display: none

  .key
    min-width: 400px
    display: inline-block

.edit-form >
  .errors .error
    margin-bottom: 10px
    background-color: $error-color
    border-color: darken($error-color, 20)
    padding: 5px 10px
    width: 43%

  form, .history
    width: 45%
    display: inline-block
    vertical-align: top

  form
    textarea#dataset_edit_commit
      width: 98%
      height: 200px

  .history
    border-left: 1px solid #eee
    padding-left: 20px

    .change
      margin-bottom: 6px
      border-bottom: 1px solid #eee
      padding: 12px 0

      .left
        float: left
      .right
        float: left
        margin-left: 20px
      .clear
        clear: both
