@import 'variables'

body
  background-color: $bg-color

  .flash
    margin-top: 10px

  .hidden
    display: none

.header
  padding: 20px 0

  div
    display: inline-block

    h1
      margin: 0

    &.current-user
      float: right
      line-height: 60px

      a
        margin-left: 10px

// General
h1 a
  color: black
  text-decoration: none

// Form styling
.button, input[type=submit]
  &.cancel
    background-color: $error-color
    border-color: darken($error-color, 20)

  &[disabled]
    background-color: darken($bg-color, 5)
    color: #aaa
    cursor: default

    &:hover
      border-color: #bbb
      color: #aaa

form
  .error
    background-color: $error-color
    border-color: darken($error-color, 20)

// Other
span.or
  margin: 0 5px

table tbody tr td a.button
  margin-bottom: 0

.heading
  .details
    span.val
      border-right: 1px solid #000
      padding-right: 5px
      margin-right: 5px

      &:last-child
        border-right: none

    .static
      float: left

    .legend
      float: right

.attributes
  padding: 7px 0

  form
    margin: 0

  .apply
    float: left
    margin-left: 17px

  .group
    &.sub
      margin-top: 40px

    .toggle-group
      display: none

      &.active
        display: block

    .slider-wrapper
      margin-right: 35px

      input[type=text]
        height: 34px
        width: 60px
        margin-bottom: 0

      .title, .slider
        display: inline-block

      .title
        width: 332px

      .history
        margin-right: 5px

      .slider
        width: 300px

      .value
        margin-left: 10px

    strong
      margin-bottom: 20px
      display: block

  .editable:first-child
    margin-top: 20px

  .editable
    color: black
    text-decoration: none
    display: block
    padding: 10px 0

    &.slider:first-child
      margin-top: 3px

    .border
      width: 100%
      border: 1px solid $border-color
      margin-bottom: -19px

    .input
      line-height: 35px

      div
        &.left
          float: left
          background-color: $bg-color
          padding-right: 5px

        &.right
          float: right
          background-color: $bg-color
          padding-left: 5px

      span
        &.history
          cursor: pointer

        &.status
          display: inline-block
          padding: 0 10px 0 0
          text-align: center
          width: 10px

        &.unit
          padding-left: 5px
          width: 30px
          display: inline-block

        &.val
          margin-left: 7px

          .field_with_errors
            display: inline

          i.fa
            &.fa-times
              color: darken($error-color, 30)

            &.fa-check
              color: darken($success-color, 30)

          input
            &.changed
              border-color: #ffcf28

    .actions
      display: none

  p.key
    width: 100%
    padding-right: 20px
    position: relative
    margin-bottom: 0

    span
      background: $bg-color
      padding-right: 4px

div.history
  padding: 20px 26px 0 26px
  border-top: 1px solid #ccc
  border-bottom: 1px solid #ccc
  margin: 0 35px 35px 0
  position: relative
  background-color: #eee

  .line-arrow
    position: absolute
    overflow: hidden
    display: inline-block
    font-size: 4px
    width: 4em
    height: 4em
    margin-top: -9px
    top: 0
    border-top: 1px solid #ccc
    border-left: 1px solid #ccc
    transform: rotate(48deg) skew(5deg)
    right: 190px
    background-color: #eee

  .change
    margin-bottom: 6px
    padding: 12px 0

    .history-line
      font-size: 80%
      position: relative
      text-align: center

      span.border
        border-bottom: 1px solid darken($border-color, 10)
        height: 1px
        display: block
        width: 100%
        margin-bottom: -10px

      span.line
        background-color: #eee
        padding: 0 10px
        color: #999

    .content
      margin-top: 5px
      text-align: justify

    .source
      margin-top: 10px
      text-align: right

#dataset-overlay
  .errors .error
    margin-bottom: 10px
    background-color: $error-color
    border-color: darken($error-color, 20)
    padding: 5px 10px

  .edit-form
    form
      textarea#change_message
        width: 98%
        height: 200px

      .field
        span.unit
          margin-left: 5px

.dataset
  border: 1px solid $border-color
  margin-bottom: 20px
  box-shadow: 0px 2px 5px 0px #ccc

  a
    text-decoration: none
    color: black

    &:hover
      color: black

  &:hover
    background-color: #f7f7f7

  .image
    float: left
    margin-right: 20px
    height: 200px

  .context
    padding: 12px 15px 0 15px
    position: relative

  h5
    margin-bottom: 5px

  dl.info
    font-size: 13px
    color: #555555
    margin: 5px 0

    dt
      float: left
      min-width: 100px

    dd > span
      margin-right: 5px

.clear
  clear: both

.notice
  padding: 4px 10px
  margin-bottom: 10px
  border-radius: 4px

.flash
  .success
    background-color: $success-color
    border: 1px solid darken($success-color, 20)

  .error
    background-color: $error-color
    border: 1px solid darken($error-color, 20)

ul.tab-nav
  display: block
  margin-bottom: 0
  position: relative

  li.tab
    display: inline-block
    list-style-type: none
    margin-bottom: -1px
    vertical-align: top
    border-bottom: 1px solid darken($border-color, 20)

    ul.sub-nav
      display: none
      margin: 0
      position: absolute
      left: 0

      &.active
        display: block

      li.tab
        background-color: #e7e7e7

    &.active
      border-bottom: none

      > a
        border: 1px solid darken($border-color, 20)
        border-bottom: 1px solid #fff
        margin-top: -1px

    a
      text-decoration: none
      display: block
      padding: 12px 16px
      color: black

      &:hover
        background-color: $border-color

div.tab
  display: none
  padding: 10px 13px 0 17px

  &.active
    display: block
