key: energy_energy_demand
groups:
  - header: energy_demand_power_sector
    items:
      - key: energy_power_sector_own_use_electricity_demand
        unit: 'TJ'
        entso: |
          EB("Energy sector - electricity and heat generation - energy use", "Electricity")
      - key: energy_power_hv_network_loss_demand
        unit: 'TJ'
        entso: |
          EB("Distribution losses", "Electricity")

  - header: energy_mix_gas_network
    items:
      - key: energy_distribution_greengas_demand
        unit: 'TJ'
        entso: |
          0.995 * (EB("Total energy supply", "Biogases") -
          EB("Transformation input - electricity and heat generation - autoproducer combined heat and power - energy use", "Biogases") -
          EB("Transformation input - electricity and heat generation - main activity producer combined heat and power - energy use", "Biogases"))
      - key: energy_regasification_lng_energy_national_gas_network_natural_gas_demand
        unit: 'TJ'

  - header: energy_losses_gas_network
    items:
      - key: energy_distribution_network_gas_loss_demand
        unit: 'TJ'
        entso: |
          EB("Distribution losses", "Network gas")

  - header: energy_heat_distribution_loss
    combination_method:
      weighted_average:
        - households_final_demand_steam_hot_water_demand # this should actually be the sum of the steam hot water demand of agriculture, buildings and households
    items:
      - key: energy_heat_distribution_ht_loss_share
        unit: '%'
        entso: |
          EB("Distribution losses", "Heat") /
          (
            EB("Final consumption - other sectors - agriculture and forestry - energy use", "Heat") +
            EB("Final consumption - other sectors - commercial and public services - energy use", "Heat") +
            EB("Final consumption - other sectors - commercial and public services - energy use", "Geothermal") +
            EB("Final consumption - other sectors - households - energy use", "Heat") +
            EB("Final consumption - other sectors - households - energy use", "Geothermal") +
            EB("Final consumption - other sectors - not elsewhere specified - energy use", "Heat") +
            EB("Distribution losses", "Heat")
          ) * 100
      - key: energy_heat_distribution_mt_loss_share
        unit: '%'
        entso: |
          EB("Distribution losses", "Heat") /
          (
            EB("Final consumption - other sectors - agriculture and forestry - energy use", "Heat") +
            EB("Final consumption - other sectors - commercial and public services - energy use", "Heat") +
            EB("Final consumption - other sectors - commercial and public services - energy use", "Geothermal") +
            EB("Final consumption - other sectors - households - energy use", "Heat") +
            EB("Final consumption - other sectors - households - energy use", "Geothermal") +
            EB("Final consumption - other sectors - not elsewhere specified - energy use", "Heat") +
            EB("Distribution losses", "Heat")
          ) * 100
      - key: energy_heat_distribution_lt_loss_share
        unit: '%'
        entso: |
          EB("Distribution losses", "Heat") /
          (
            EB("Final consumption - other sectors - agriculture and forestry - energy use", "Heat") +
            EB("Final consumption - other sectors - commercial and public services - energy use", "Heat") +
            EB("Final consumption - other sectors - commercial and public services - energy use", "Geothermal") +
            EB("Final consumption - other sectors - households - energy use", "Heat") +
            EB("Final consumption - other sectors - households - energy use", "Geothermal") +
            EB("Final consumption - other sectors - not elsewhere specified - energy use", "Heat") +
            EB("Distribution losses", "Heat")
          ) * 100

