key: energy_efficiency
groups:
  - header: energy_efficiency_coal
    items:
      - key: input_energy_power_supercritical_coal_electricity_output_conversion
        unit: '%'
      - key: input_energy_power_ultra_supercritical_coal_electricity_output_conversion
        unit: '%'
      - key: input_energy_power_ultra_supercritical_ccs_coal_electricity_output_conversion
        unit: '%'
      - key: input_energy_power_ultra_supercritical_cofiring_coal_electricity_output_conversion
        unit: '%'
      - key: input_energy_power_combined_cycle_coal_electricity_output_conversion
        unit: '%'
      - key: input_energy_power_combined_cycle_ccs_coal_electricity_output_conversion
        unit: '%'
      - key: input_energy_power_ultra_supercritical_lignite_electricity_output_conversion
        unit: '%'
      - key: input_energy_power_ultra_supercritical_oxyfuel_ccs_lignite_electricity_output_conversion
        unit: '%'
      - key: input_energy_chp_ultra_supercritical_cofiring_coal_electricity_output_conversion
        unit: '%'
      - key: input_energy_chp_ultra_supercritical_cofiring_coal_steam_hot_water_output_conversion
        unit: '%'
      - key: input_energy_chp_ultra_supercritical_coal_electricity_output_conversion
        unit: '%'
      - key: input_energy_chp_ultra_supercritical_coal_steam_hot_water_output_conversion
        unit: '%'
      - key: input_energy_chp_ultra_supercritical_lignite_electricity_output_conversion
        unit: '%'
      - key: input_energy_chp_ultra_supercritical_lignite_steam_hot_water_output_conversion
        unit: '%'

  - header: energy_efficiency_gas
    items:
      - key: input_energy_power_turbine_network_gas_electricity_output_conversion
        unit: '%'
      - key: input_energy_power_combined_cycle_network_gas_electricity_output_conversion
        unit: '%'
      - key: input_energy_power_combined_cycle_ccs_network_gas_electricity_output_conversion
        unit: '%'
      - key: input_energy_power_ultra_supercritical_network_gas_electricity_output_conversion
        unit: '%'
      - key: input_energy_power_engine_network_gas_electricity_output_conversion
        unit: '%'
      - key: input_energy_chp_local_engine_network_gas_electricity_output_conversion
        unit: '%'
      - key: input_energy_chp_local_engine_network_gas_steam_hot_water_output_conversion
        unit: '%'
      - key: input_energy_chp_combined_cycle_network_gas_electricity_output_conversion
        unit: '%'
      - key: input_energy_chp_combined_cycle_network_gas_steam_hot_water_output_conversion
        unit: '%'
      - key: input_industry_chp_turbine_gas_power_fuelmix_electricity_output_conversion
        unit: '%'
      - key: input_industry_chp_turbine_gas_power_fuelmix_steam_hot_water_output_conversion
        unit: '%'
      - key: input_industry_chp_engine_gas_power_fuelmix_electricity_output_conversion
        unit: '%'
      - key: input_industry_chp_engine_gas_power_fuelmix_steam_hot_water_output_conversion
        unit: '%'
      - key: input_industry_chp_combined_cycle_gas_power_fuelmix_electricity_output_conversion
        unit: '%'
      - key: input_industry_chp_combined_cycle_gas_power_fuelmix_steam_hot_water_output_conversion
        unit: '%'

  - header: energy_efficiency_other_fossil
    items:
      - key: input_energy_power_ultra_supercritical_crude_oil_electricity_output_conversion
        unit: '%'
      - key: input_energy_power_engine_diesel_electricity_output_conversion
        unit: '%'
      - key: input_energy_power_supercritical_waste_mix_electricity_output_conversion
        unit: '%'
      - key: input_energy_power_nuclear_gen2_uranium_oxide_electricity_output_conversion
        unit: '%'
      - key: input_energy_power_nuclear_gen3_uranium_oxide_electricity_output_conversion
        unit: '%'

  - header: energy_efficiency_renewable_chp
    items:
      - key: input_energy_chp_local_engine_biogas_electricity_output_conversion
        unit: '%'
      - key: input_energy_chp_local_engine_biogas_steam_hot_water_output_conversion
        unit: '%'
      - key: input_energy_chp_local_wood_pellets_electricity_output_conversion
        unit: '%'
      - key: input_energy_chp_local_wood_pellets_steam_hot_water_output_conversion
        unit: '%'
      - key: input_energy_chp_supercritical_waste_mix_electricity_output_conversion
        unit: '%'
      - key: input_energy_chp_supercritical_waste_mix_steam_hot_water_output_conversion
        unit: '%'
      - key: input_industry_chp_ultra_supercritical_coal_electricity_output_conversion
        unit: '%'
      - key: input_industry_chp_ultra_supercritical_coal_steam_hot_water_output_conversion
        unit: '%'
      - key: input_industry_chp_wood_pellets_electricity_output_conversion
        unit: '%'
      - key: input_industry_chp_wood_pellets_steam_hot_water_output_conversion
        unit: '%'

  - header: energy_efficiency_heat_plants
    items:
      - key: input_energy_heat_burner_wood_pellets_steam_hot_water_output_conversion
        unit: '%'
      - key: input_energy_heat_burner_coal_steam_hot_water_output_conversion
        unit: '%'
      - key: input_energy_heat_burner_hydrogen_steam_hot_water_output_conversion
        unit: '%'
      - key: input_energy_heat_burner_crude_oil_steam_hot_water_output_conversion
        unit: '%'
      - key: input_energy_heat_burner_network_gas_steam_hot_water_output_conversion
        unit: '%'
      - key: input_energy_heat_burner_waste_mix_steam_hot_water_output_conversion
        unit: '%'
      - key: input_energy_heat_heatpump_water_water_electricity_steam_hot_water_output_conversion
        unit: '%'
      - key: input_industry_heat_burner_lignite_steam_hot_water_output_conversion
        unit: '%'
      - key: input_industry_heat_burner_coal_steam_hot_water_output_conversion
        unit: '%'
      - key: input_industry_heat_burner_crude_oil_steam_hot_water_output_conversion
        unit: '%'






