key: energy_biomass
groups:
  - header: energy_greengas_production
    type: slider
    items:
      - key: energy_greengas_gasification_dry_biomass_energy_distribution_greengas_child_share
        unit: '%'
      - key: energy_greengas_gasification_wet_biomass_energy_distribution_greengas_child_share
        unit: '%'
      - key: energy_greengas_upgrade_biogas_energy_distribution_greengas_child_share
        unit: '%'
        flexible: true

  - header: energy_waste_mix
    type: slider
    items:
      - key: energy_distribution_biogenic_waste_energy_distribution_waste_mix_child_share
        unit: '%'
        energy_balance:
          IF(EB("Transformation input - energy use","Waste") > 0.0,
          -> {EB("Transformation input - energy use","Renewable municipal waste") /
          EB("Transformation input - energy use","Waste")},
          -> { 50.0 })
      - key: energy_distribution_non_biogenic_waste_energy_distribution_waste_mix_child_share
        unit: '%'
        energy_balance:
          IF(EB("Transformation input - energy use","Waste") > 0.0,
          -> {(EB("Transformation input - energy use","Industrial waste (non-renewable)") +
          EB("Transformation input - energy use","Non-renewable municipal waste")) /
          EB("Transformation input - energy use","Waste")},
          -> { 50.0 })
        flexible: true

  - header: energy_potentials
    items:
        - key: energy_production_dry_biomass_max_demand
          unit: 'TJ'
        - key: energy_production_wet_biomass_max_demand
          unit: 'TJ'
        - key: energy_production_oily_biomass_max_demand
          unit: 'TJ'
